name: publish-check

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  dry-run:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: dart-lang/setup-dart@v1

      - name: Install dependencies
        run: dart pub get

      - name: Publish dry-run
        run: dart pub publish --dry-run
